<% include ./partials/header %>

  <div class="container mt-4">
    <div class="row">
      <div class="col"></div>
      <div class="col-12 col-md-9">
        <div class="card shadow border-0 ">
          <div class="card-body">
            <h1 class="text-center">About SSC</h1>
            <h3>What is SSC?</h3>
            <hr>
            <p>
              <strong class="text-danger">SSC</strong> is a product reviewing website. Users can create their own products or review others' products. To get started, simply
              <a href="/register">Sign Up</a>.
            </p>
            <p>
              SSC was created using EJS and Bootstrap (FrontEnd), Node.js and Express.js (BackEnd), and MongoDB (Database).
            </p>
            <h3>Features</h3>
            <hr>
            <ul>
              <li>Users can create, edit, and remove products</li>
              <li>Users can review products once, and edit or remove their review</li>
              <li>User profiles have more information on the user, such as their full name, phone number, join date, products, and the option to edit their profile or delete their account</li>
              <li>Search product by name or location</li>
              <li>Sort products by highest rating, most reviewed, lowest price, or highest price</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>

  <% include ./partials/footer %>